.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.box {
  position: relative;
  margin-bottom: 20px
}
.title {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.percent input {
  border: 0;
  color: #000;
  width: 100%;
  max-width: 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  display: inline-block;
}
.toolbar-inner.center {
  padding: 0 15px;
  justify-content: center;
}
.total {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.total .nobold {
  font-weight: normal;
}
