@font-face {
  font-family: 'OpenSans Regular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
  url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans Light';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
  url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans Bold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
  url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.woff?ro0n2f') format('woff'),
  url('../fonts/icons.ttf?ro0n2f') format('truetype'),
  url('../fonts/icons.svg?ro0n2f#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
  content: "\e900";
}
.icon-announce:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-up:before {
  content: "\e905";
}
.icon-brand:before {
  content: "\e906";
}
.icon-camera:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e908";
}
.icon-director:before {
  content: "\e909";
}
.icon-email:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-global:before {
  content: "\e90c";
}
.icon-google-plus:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e90e";
}
.icon-movie:before {
  content: "\e90f";
}
.icon-play:before {
  content: "\e910";
}
.icon-play-c:before {
  content: "\e911";
}
.icon-premium:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-star:before {
  content: "\e914";
}
.icon-star-c:before {
  content: "\e915";
}
.icon-twitter:before {
  content: "\e916";
}
.icon-user:before {
  content: "\e917";
}
.icon-view:before {
  content: "\e918";
}
